.cart-item{
    width: 320px;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
    padding: 8px;
    background-color: white;
    border-radius: 10px;
}
.cart-item img{
    width: 35px;
    height: 35px;
}
.cart-item p{
    font-size: 18px;
    margin: 0;
    margin-left: 15px;
}
.cart-item a{
    position: absolute;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}